sudo: required
services:
  - docker
before_install:
  - docker build -f Dockerfile.dev -t jek2141/docker-react .
script:
  - docker run -e CI=true jek2141/docker-react npm test
deploy:
  provider: elasticbeanstalk
  access_key_id:
    secure: "$AWS_ACCESS_KEY"
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
  region: "us-west-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-086729879076"
  bucket_path: "docker-react"
  on:
    branch: master
